*:before,
*:after{
    box-sizing: border-box;
}


.card {
   
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 30rem;
    height: 40rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52
    
  }

  #banner{
      border-radius: 50%;
      width: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  img{
      justify-self: center;
      height: 12rem;
  }

  p{
      justify-self: center;
      word-wrap: break-word;
      height: auto;
      overflow: auto;
  }
  .checked {
    color: orange;
  }
  span{
      display: table;
      padding-left: 0;
      margin-left: 0;
  }

  .hide{
      display: none
  }

  .title{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans';
    font-size: 50px;
    text-shadow: 10px black;
    color: rgba(0, 81, 255, 0.664)
  }
  .container {
    position: relative;
    text-align: center;
    
  }